<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>anti-drug_dashboard</title>
	
	<!-- Styles -->
	<link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/assets/css/animate.min.css'>
	<link rel='stylesheet' href="/assets/css/font-awesome.min.css"/>
	<link rel='stylesheet' href="/assets/css/style.css"/>
	
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
			
	<!-- Favicon -->
<<<<<<< HEAD
=======
	<!-- <link rel="shortcut icon" href="#"> -->
>>>>>>> 72f4b03b79360a3dd4e4f1ab14670a43ec849dbd
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
</head>
<body>
<!-- Begin Hero Bg -->
<!-- End Hero Bg
	================================================== -->
<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner" style="height: 70px">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<a href="index.html" class="navbar-brand">反毒<span class="lighter">儀表板</span></a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li>
		<a href="/">首頁</a>
		</li>
		<li>
		<a href="/dashboard">儀表板</a>
		</li>
        <li>
		<a href="/dataMarket" style="color:#07B1D1">資料市集</a>
		</li>

		<!--<li>
		<a href="#faq">FAQ</a>
		</li>
		<li>
		<a href="#contactarea">Contact</a>
		</li>-->
	</ul>
	</nav>
</div>
</header>
<!-- About
	================================================== -->
<section id="market" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/map.png);">
<div class="wrapsection">
	<div class="parallax-overlay" style="background-color: #1cbb9b;opacity:0.9;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Title -->
				<div class="maintitle">
					<!--<h3 class="section-title"><strong>FIND <span class="lighter">CAUSE</span></strong> to support on your run</h3>
					<p class="lead">
						Mentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae sapien.
					</p>-->
				</div>
			</div>
            <% row.forEach(function(data) { %>
			<div class="block">
					<div id="contact" class="wow fadeIn animated" data-wow-delay="0.3" data-wow-duration="1.5s" style="float: right;margin-top:173px;margin-right:20px">
							<input id="submit" class="submit" type="submit" name="submit" value="詳細資料" onclick="location.href='/dataVisual/<%= data.name %>';"/>
					</div>
                <div class="content" style="margin-left:20px;width:870px;height:250px;position:relative;">
					
                        <font style="font-weight:bold; font-size:38px; color:#2E9AFE;width:350px"><%= data.title %></font>
						<span class="fileType-bg" ><%= data.dataType %></span>
                    	<br><br><font style="font-size:20px"><%= data.description %></font>
						<br>
						<font  style="font-size:15px; position: absolute;bottom: 0;margin-bottom:20px;">提供資料單位: <%= data.provider %></font>
						<font  style="font-size:15px; margin-left:250px;position: absolute;bottom: 0;margin-bottom:20px;">資料收集時間: <%= data.dataUnit %><%= data.dateFrom %>年</font>
						<% if(data.fee == 'free'){%>
							<font  style="font-size:15px;margin-left:500px;position: absolute;bottom: 0;margin-bottom:20px;">是否收費: 否</font>
						<%} else{ %>>
							<font  style="font-size:15px;margin-left:500px;position: absolute;bottom: 0;margin-bottom:20px;">是否收費: 是</font>
						<%}%>
                </div>
                
			</div>

            <% }); %>
		</div>
	</div>
</div>
</section>
<!-- Credits 
=============================================== -->
<section id="credits" class="text-center">
	Copyright &copy; <a>yzu_cse</a>

</section>
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery.min.js"></script>-->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/js/jquery.localScroll.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/validate.js"></script>
<script src="/assets/js/common.js"></script>

</body>
</html>